# Environments
.vera-deployed-v2-venv
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Streamlit
.streamlit/secrets.toml

# Model
model.h5

# Standars scaler
standard_scaler.save

# Apple Desktop Services Store
.DS_Store
.DS_Store?

# Datasets
Datasets/

# Python Cache Files
backend/__pycache__/
__pycache__/

# Visual Studio Code
.vscode/*
.vscode/
!.vscode/settings.json